.app {
  @import url('https://fonts.googleapis.com/css?family=Open+Sans');
  font-family: 'Open Sans', sans-serif;

  $primary-white: #FFF;

  .grid-container {

    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 10vh;

    justify-content: space-evenly;
    align-content: space-evenly;
    //grid-template-columns: repeat(4, 1fr);
    //grid-template-rows: auto auto;


    //grid-gap: 40px 40px; // kan även ta 1 argument, eller skrivas som nedanför
    //grid-column-gap: 50px;
    //grid-row-gap: 50px;

    background-color: darkseagreen;
    color: $primary-white;
  }

  .grid-item {
    align-self: center;
    justify-self: center;
    text-align: center;

    width: 50%;
    background-color: mix(darkseagreen, white, 60%);
    font-size: 2em;
  }

}